.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid hsl(0, 6%, 80%);
  text-align: center;
  height: 200px;
  margin: 20px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  font-size: 12px;
  padding: 12px;
  gap: 10px;
}
.srv-icon1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fb9ac8;
  width: 67px;
  height: 65px;
  border-radius: 10px;
}

.srv-icon1 img {
  width: 32px;
  height: 32px;
}
