.srv-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.srv-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.srv-icon1,
.srv-icon2,
.srv-icon3,
.srv-icon4,
.srv-icon5,
.srv-icon6 {
  display: flex;
  gap: 20px;
}
.icon1,
.icon2,
.icon3 {
  border: 2px solid black;
  height: 60px;
  width: 122px;
  display: flex;
  background-color: #fb9ac8;
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: center;
}
.icon1 img,
.icon2 img,
.icon3 img,
.icon4 img,
.icon5 img,
.icon6 img {
  height: 32px;
  width: 32px;
}
.icon4 {
  border: 2px solid black;
  height: 60px;
  width: 122px;
  display: flex;
  background-color: #fb9ac8;
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: center;
}
.icon5 {
  border: 2px solid black;
  height: 60px;
  width: 122px;
  display: flex;
  background-color: #fb9ac8;
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: center;
}
.icon6 {
  border: 2px solid black;
  height: 60px;
  width: 122px;
  display: flex;
  background-color: #fb9ac8;
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: center;
}
