.overlay {
  padding: 0px;
  margin: 0px;
  height: 104px;
  width: 366px;
  opacity: 0.8;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 27%,
    rgba(0, 212, 255, 1) 100%
  );
}
.overlay h2 {
  display: flex;
  justify-content: center;
  align-content: center;
}
.banner-contact {
  display: flex;
  background-image: url("banner.jpg");
  height: 104px;
  width: 340px;
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  width: auto;
  background-size: cover;
  justify-content: center;
  color: white;
}
.banner-contact02 {
  display: flex;
  justify-content: center;
  gap: 4px;
}
a {
  text-decoration: none;
}
.maindiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.callus,
.mailus,
.visitus {
  display: flex;
  border: 2px solid black;
  height: 166.933px;
  width: 334px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}
.before-query {
  margin-left: 10px;
}
.before-query > p {
  font-size: 16px;
  width: 80%;
}
.map {
  height: 300 px;
}
iframe {
  height: 100%;
  width: 100%;
}
.footer {
  display: flex;
  background-color: #162171;
  color: white;
  padding: 20px;
}
.footer-inside {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list02 {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 10px;
  color: white;
  width: 100%;
  height: 38.5px;
  align-items: center;
}
