.form {
  gap: 10px;
  margin: 10px;
  background-color: rgb(230, 219, 219);
  height: 510px;
  width: 340px;
  align-items: center;
}
.innerform {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
  gap: 10;
  margin-left: 10px;
  gap: 20px;
  padding: 30px;
}
.name,
.email {
  width: 256px;
  height: 48.33px;
  background-clip: padding-box;
}
.message {
  width: 256px;
  height: 170px;
  background-clip: padding-box;
  margin-bottom: 0px;
}
.form-button {
  height: 45px;
  width: 158px;
  margin-top: 0px;
}
