* {
  margin: 0px;
  padding: 0px;
}
footer {
  background-color: #65258a;
  color: white;
  padding: 20px;
  text-align: justify;
}
footer p {
  font-size: 12px;
}
footer div {
  gap: 10px;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.links1 {
  display: flex;
  flex-direction: column;
}
.list01 {
  list-style: none;
  font-size: 12px;
}
.list02 {
  list-style: none;
  font-size: 12px;
}
.mini-icons-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 23px;
}
.copyright {
  background-color: white;
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 100%;
}
